.add-products {
  @media (min-width: @large-width - (@site-container-horisontal-padding-large - @site-container-horisontal-padding-medium) * 2) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    align-items: center;
  }
}

.add-products__title {
  font-weight: normal;

  @media (min-width: @large-width - (@site-container-horisontal-padding-large - @site-container-horisontal-padding-medium) * 2) {
    grid-column: ~"1 / -1";
  }
}

.add-products__list {
  width: 100%;
  border-collapse: collapse;

  @media (min-width: @medium-width) {
    // padding-right: 37px;
    // padding-left: 37px;
  }

  @media (min-width: @large-width - (@site-container-horisontal-padding-large - @site-container-horisontal-padding-medium) * 2) {
    grid-column: ~"1 / 4";
  }
}
