.demo {
  background-color: #eaeaea;

  @media (min-width: @medium-width) {
    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }
}

.demo__wrapper {
  @media (min-width: @large-width) {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

.demo__title {
  grid-row: ~"1 / 2";
  padding: 27px 0 33px;
  margin: 0;

  @media (min-width: @medium-width) {
    padding: 44px 0 63px;
  }

  @media (min-width: @large-width) {
    padding: 58px 0 76px;
  }
}

.demo__table {
  display: block;
  padding: 25px 0 40px;

  @media (min-width: @medium-width) {
    padding: 53px 0 78px;
  }

  @media (min-width: @large-width) {
    padding: 67px 0 75px;
  }
}

.demo__table-results {
  display: block;
  padding: 0;
}

.demo__results-container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  row-gap: 15px;
  column-gap: 32px;

  @media (min-width: @medium-width) {
    grid-template-columns: auto 1fr;
    column-gap: 42px;
  }

  @media (min-width: @large-width) {
    grid-template-columns: auto;
    row-gap: 55px;
  }
}

.demo__results {
  grid-row: ~"3 / 4";
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 162px));
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 32px;

  @media (min-width: @medium-width) {
    grid-template-columns: 162px 162px;
    column-gap: 42px;
  }

  @media (min-width: @large-width) {
    justify-content: start;
  }
}

.demo__cost {
  grid-column: ~"1 / -1";
  justify-self: center;
  padding-top: 2px;
  .set-font(@line-height: 20px, @font-color: #000000, @text-align: center, @text-transform: uppercase);

  @media (min-width: @medium-width) {
    grid-column: ~"-2 / -1";
    justify-self: end;
    display: grid;
    row-gap: 9px;
    padding-top: 0;
    font-size: 20px;
    text-align: right;
    transform: translateY(-3px);
  }

  @media (min-width: @large-width) {
    grid-template-columns: auto auto;
    justify-self: start;
    column-gap: 60px;
    transform: none;
  }
}

.demo__cost-label {
  padding-top: 0;
  padding-bottom: 0;
}

.demo__cost-value {
  padding-top: 0;
  padding-bottom: 0;
}

.demo__text {
  margin: 0;

  @media (min-width: @medium-width) {
    padding-right: 20px;
    font-size: @font-size-base2;
    line-height: 24px;
  }

  @media (min-width: @large-width) {
    max-width: 438px;
    padding-top: 72px;
    padding-right: 0;
  }
}

.demo__presentation {
  grid-row: ~"1 / -1";
  grid-column: ~"2 / 3";

  @media (min-width: @medium-width) {
    padding-bottom: 33px;
  }
}

.demo__image-container {
  display: grid;
  grid-template-rows: auto auto;
}

.demo__image-box {
  --cat-before-width: 280px;
  --cat-after-width: 251px;
  grid-row: ~"1 / 2";
  grid-column: ~"1 / 2";
  justify-self: center;
  line-height: 0;
  overflow: hidden;
}

.demo__image-box img {
  max-width: none;
  object-fit: none;
}

.demo__image-box--before {
  transform: translateX(calc(-1 * var(--cat-before-width) / 4)); // на 1/4 ширины

  @media (min-width: @medium-width) {
    --cat-before-width: 677px;
  }

  @media (min-width: @large-width) {
    --cat-before-width: 650px;
    transform: translateX(calc(-1 * var(--cat-before-width) / 4 + 20px));
  }
}

.demo__image-box--before img {
  width: var(--cat-before-width);
  // height: 232px;
  height: auto;
  margin-right: calc(-1 * var(--cat-before-width) / 2);   // на 1/2 ширины
}

.demo__image-box--after {
  transform: translateX(calc(var(--cat-after-width) / 4));

  @media (min-width: @medium-width) {
    --cat-after-width: 492px;
  }

  @media (min-width: @large-width) {
    --cat-after-width: 422px;
    transform: translateX(calc(var(--cat-after-width) / 4 + 20px));
  }
}

.demo__image-box--after img {
  width: var(--cat-after-width);
  height: auto;
  margin-left: calc(-1 * var(--cat-after-width) / 2);
}

.demo__slider {
  @media (min-width: @medium-width) {
    margin: 0 70px 0 69px;
  }

  @media (min-width: @large-width) {
    margin: 0;
    margin-left: 40px;
  }
}
