.feeding__list {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  list-style: none;

  @media (min-width: @medium-width) {
    margin-top: 0;
  }

  @media (min-width: @large-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-top: 80px;
  }
}

.feeding__item {
  position: relative;
  padding: 20px 0;
  margin-bottom: 23px;
  background-color: @color-base-grey;

  @media (min-width: @medium-width) {
    padding: 50px 0;
    margin-bottom: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    width: var(--width);
    height: var(--height);
    top: 24px;
    left: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: @medium-width) {
      width: calc(var(--width) * 4);
      height: calc(var(--height) * 4);
      left: auto;
      top: 90px;
      right: 60px;
    }

    @media (min-width: @large-width) {
      width: calc(var(--width) * 2);
      height: calc(var(--height) * 2);
      left: 52px;
      top: 47px;
      right: auto;
    }
  }

  &--slim::before {
    --width: 50px;
    --height: 53px;
    top: 21px;
    background-image: url("../img/cat-slim.svg");

    @media (min-width: @medium-width) {
      top: 80px;
    }

    @media (min-width: @large-width) {
      top: 41px;
    }
  }

  &--pro::before {
    --width: 67px;
    --height: 50px;
    left: 13px;
    background-image: url("../img/cat-pro.svg");

    @media (min-width: @medium-width) {
      left: auto;
      right: 28px;
    }

    @media (min-width: @large-width) {
      left: 33px;
    }
  }
}

.feeding__title {
  padding: 10px 20px 9px 91px;

  @media (min-width: @medium-width) {
    padding: 27px 275px 9px 53px;
  }

  @media (min-width: @large-width) {
    padding: 27px 52px 32px 214px;
  }
}

.feeding__link {
  display: block;
  padding: 19px 19px 2px 19px;
  .set-font(@font-size: @font-size-base2, @font-color: #000000, @text-transform: uppercase);
  text-decoration: none;

  @media (min-width: @medium-width) {
    padding: 10px 275px 9px 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

.feeding__text {
  padding: 20px 20px 23px 20px;
  margin: 0;

  @media (max-width: @small-width-only) {
    .set-horizontal-border(@bottom: 0, @left: 20px, @right: 20px, @color: #d9d9d9);
  }

  @media (min-width: @medium-width) {
    padding: 15px 275px 20px 52px;
    font-size: @font-size-base2;
    line-height: 24px;
  }

  @media (min-width: @large-width) {
    padding: 41px 35px 17px 52px;
    font-size: @font-size-base;
  }
}
