.location {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  background-color: #aadaff;
}

.location__image-map {
  grid-row: ~"1 / -1";
  grid-column: ~"1 / -1";
}

.location__interactive-map {
  grid-row: ~"1 / -1";
  grid-column: ~"1 / -1";
  width: 100%;
  border: none;
}
