.location {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  background-color: #aadaff;
}

.location__image-map {
  grid-row: ~"1 / -1";
  grid-column: ~"1 / -1";
  width: 320px;
  height: 362px;

  @media (min-width: @medium-width) {
    width: 768px;
    height: auto;
  }

  @media (min-width: @large-width) {
    width: 1440px;
  }
}

.location__interactive-map {
  grid-row: ~"1 / -1";
  grid-column: ~"1 / -1";
  width: 100%;
  border: none;
}
