.main-footer {
  @media (min-width: @large-width) {
    display: grid;
    grid-template-rows: 95px auto 1fr auto;
    grid-template-columns: 1fr @contacts-max-width @large-width - @contacts-max-width - @site-container-horisontal-padding-large * 2 1fr;
  }
}

.main-footer__contacts {
  background-color: #f2f2f2;

  @media (min-width: @medium-width) {
    box-sizing: border-box;
    min-height: 201px;

    &--catalog {
      min-height: 200px;
    }
  }

  @media (min-width: @large-width) {
    grid-row: ~"2 / 3";
    grid-column: ~"2 / 3";
    width: @contacts-max-width;
    max-width: 960px;
    z-index: 1;
  }

  &--index {
    background-color: transparent;
  }
}

.main-footer__location {
  line-height: 0;

  @media (min-width: @large-width) {
    grid-row: ~"1 / -2";
    grid-column: ~"1 / -1";
  }
}

.main-footer__bar {
  background-color: #f2f2f2;

  @media (min-width: @medium-width) {
    min-height: 146px;

    &--form {
      min-height: 147px;
    }

    &--catalog {
      min-height: 151px;
    }
  }

  @media (min-width: @large-width) {
    min-height: 149px;
  }

  @media (min-width: @large-width) {
    grid-row: ~"4 / 5";
    grid-column: ~"1 / -1";
    background-color: @color-base-grey;
  }
}
