.products__list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: @medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: 955px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
  }

  @media (min-width: @large-width - (@site-container-horisontal-padding-large - @site-container-horisontal-padding-medium) * 2) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.products__item {
  padding: 20px 0 25px;

  @media (max-width: @small-width-only) {
    .set-horizontal-border(@top: 0, @left: -@site-container-horisontal-padding-small, @right: -@site-container-horisontal-padding-small, @color: @color-special-grey2);
  }
}
