.promo {
  background:
    linear-gradient(to bottom, fade(@color-base-green, 85%) 302px, #ffffff 0),
    url("../img/promo-bg-mobile.jpg") no-repeat 50% 0;

  @media (min-width: @medium-width) {
    background: transparent;
  }

  // @media (min-width: @large-width) {
  //   position: relative;
  // }

  &::before {
    @media (min-width: @large-width) {
      content: "";
      position: absolute;
      top: -2px;
      // bottom: 0;
      left: 50%;
      width: 50%;
      height: 696px;
      z-index: -1;

      background:
        linear-gradient(to bottom, fade(@color-base-green, 85%), fade(@color-base-green, 85%)),
        url("../img/promo-bg-desktop.jpg") no-repeat;
    }
  }
}

.promo__wrapper {
  @media (min-width: @medium-width) {
    display: grid;
    grid-template-rows: 20px auto 41px auto 20px 29px auto auto;
    grid-template-columns: 87px 1fr 87px;
    justify-items: start;
  }

  @media (min-width: @large-width) {
    grid-template-rows: 82px auto 40px auto 52px auto auto;
    grid-template-columns: 80px 530px 1fr 220px;
    // margin-bottom: 136px;
  }
}

.promo__title {
  text-align: center;

  @media (max-width: @small-width-only) {
    margin: 0;
    padding: 27px 0 25px;
  }

  @media (min-width: @medium-width) {
    grid-row: ~"2 / 3";
    grid-column: ~"2 / 3";
    text-align: left;
  }
}

.promo__slogan {
  margin: 0;
  .set-font(@font-color: #ffffff, @text-align: center, @text-transform: uppercase);

  @media (max-width: @small-width-only) {
    padding-bottom: 29px;
  }

  @media (min-width: @medium-width) {
    grid-row: ~"4 / 5";
    grid-column: ~"2 / 3";
    .set-font(@font-size: 20px, @line-height: 20px, @font-color: #000000, @text-transform: uppercase);
  }
}

.promo__link {
  font-size: @font-size-base;
  line-height: 18px;
  text-decoration: none;

  @media (min-width: @medium-width) {
    // width: 100%;
    min-width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__link-container {
  @media (max-width: @small-width-only) {
    margin-top: 3px;
  }

  @media (min-width: @medium-width) {
    grid-row: ~"7 / 8";
    grid-column: ~"2 / 3";
  }

  @media (min-width: @large-width) {
    grid-row: ~"6 / 7";
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (min-width: @medium-width) {
    width: 709px;
    height: 609px;
    margin: 0;
    grid-row: ~"6 / -1";
    grid-column: ~"1 / -1";
    justify-self: center;
  }

  @media (min-width: @large-width) {
    width: 552px;
    height: 499px;
    grid-row: ~"1 / -1";
    grid-column: ~"2 / -2";
    justify-self: end;
  }
}
