.site-navigation {
  @media (min-width: @medium-width) {
    display: flex;
    align-items: flex-start;
  }
}

.site-navigation__logo-container {
  display: flex;
  justify-content: space-between;
  // grid-template-columns: minmax(max-content, 1fr) max-content 1fr;
  align-items: center;
  padding: 12px 0;

  @media (min-width: @medium-width) {
    padding-bottom: 0;
    padding-top: 24px;
  }

  @media (min-width: @large-width) {
    flex: 1 0 0;
    padding-top: 53px;
  }
}

.site-navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;

  .site-navigation--closed & {
    @media (max-width: @small-width-only) {
      display: none;
    }
  }

  @media (max-width: @small-width-only) {
    .set-horizontal-border(@top: 0, @left: 0 - @site-container-horisontal-padding-small, @right: 0 - @site-container-horisontal-padding-small, @color: #e6e6e6);
  }

  @media (min-width: @medium-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 30px 0 46px 0;
    margin-left: auto;
  }

  @media (min-width: @large-width) {
    flex: 1 0 0;
    padding-top: 58px;
    padding-bottom: 34px;
  }
}

.site-navigation__item {
  .set-font(@text-align: center);

  @media (max-width: @small-width-only) {
    .set-horizontal-border(@bottom: 0, @left: -@site-container-horisontal-padding-small, @right: -@site-container-horisontal-padding-small, @color: #e6e6e6);
  }

  @media (min-width: @medium-width) {
    margin-left: 35px;
  }
}

.site-navigation__item--current {
  @media (min-width: @medium-width) {
    .set-horizontal-border(@width: 2px, @left: 0, @right: 0, @color: @color-base-green);
  }

  @media (min-width: @large-width) {
    .main-header--index & {
      &::after {
        bottom: 1px;
        background-color: #ffffff;
      }
    }
  }
}

.site-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 24px 0;
  .set-font(@font-size: 20px, @font-color: #000000, @text-align: center, @text-transform: uppercase, @font-weight: 500);
  text-decoration: none;

  &:hover {
    color: fade(#000000, 60%);
  }

  &:active {
    color: fade(#000000, 30%);
  }

  &:focus {
    outline: 2px solid @color-special-dark-grey;
  }

  @media (min-width: @medium-width) {
    padding: 12px 0 8px;
    font-size: 18px;
    line-height: @font-size-h3;
    font-weight: normal;
  }

  @media (min-width: @large-width) {
    font-size: 20px;
    line-height: 29.64px;
    color: #111111;

    .main-header--index & {
      color: #ffffff;
    }
  }
}

.site-navigation__toggler {
  position: relative;
  justify-self: flex-end;
  padding: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  .site-navigation--closed & {
    &::before {
      top: 3px;
      box-shadow:
        0 7px 0 0 #000000,
        0 14px 0 0 #000000;
      transform: none;
    }

    &::after {
      display: none;
    }
  }

  .site-navigation--no-js & {
    display: none;
  }

  @media (min-width: @medium-width) {
    display: none;
  }
}

.site-navigation__image-logo:focus {
  outline: 2px solid @color-special-dark-grey;
}

.site-navigation__image-logo img {
  width: 191px;
  height: 38px;

  @media (min-width: @medium-width) {
    width: 174px;
    height: auto;
  }

  @media (min-width: @large-width) {
    width: 202px;
  }
}
