.socials {
  display: flex;  // чтобы socials__list сжимался по ширине содержимого
  align-items: center;
  font-size: 0;

  @media (max-width: @small-width-only) {
    min-height: 63px;
    .set-horizontal-border(@bottom: 0, @color: #d9d9d9);
  }
}

.socials__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 1px;
  margin: 0 auto;
  max-width: 240px;
  list-style: none;

  @media (min-width: @medium-width) {
    justify-content: flex-end;
    margin-left: 22px;
  }
}

.socials__item {
  margin-right: 15px;

  @media (min-width: @medium-width) {
    margin-right: 10px;
  }

  &:nth-child(5n),
  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: @color-special-grey3;
  border-radius: 50%;
  text-decoration: none;

  @media (min-width: @medium-width) {
    &--vk svg {
      width: 29px;
      height: 17px;
      margin-left: 2px;
    }

    &--instagram svg {
      width: 23px;
      height: 23px;
      margin-left: 7px;
    }

    &--fb svg {
      width: 14px;
      height: 34px;
      margin-left: 2px;
    }
  }

  &:hover {
    color: @color-base-green;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid @color-special-dark-grey;
  }
}
