.site-body {
  padding: 0;
  margin: 0;
}

.site-container {
  max-width: @large-width - (@site-container-horisontal-padding-large * 2);
  padding: 0 @site-container-horisontal-padding-small;
  margin: 0 auto;

  @media (min-width: @medium-width) {
    padding: 0 @site-container-horisontal-padding-medium;
  }

  @media (min-width: @large-width) {
    padding: 0 @site-container-horisontal-padding-large;
  }
}

.site-paragraph {
  .set-font(@line-height: 18px, @font-name: @font-name-base2);
}

.site-title-level1 {
  .set-font(@font-size: @font-size-h1, @font-color: #ffffff, @font-weight: normal);

  @media (min-width: @medium-width) {
    font-size: @font-size-large;
    line-height: @font-size-large;
    text-align: left;

    color: #000000;
  }
}

.site-title-level2 {
  .set-font(@font-size: @font-size-h2, @line-height: 40px, @font-color: #000000, @font-weight: normal);

  @media (min-width: @medium-width) {
    font-size: @font-size-large;
    line-height: @font-size-large;
  }
}

.site-title-level3 {
  .set-font(@font-size: @font-size-h3, @line-height: 37px, @font-color: #000000, @font-weight: normal, @text-transform: uppercase);

  @media (min-width: @medium-width) {
    font-size: @font-size-h2;
    line-height: @font-size-h2;
  }
}

.site-group-title {
  .set-font(@font-size: @font-size-h3, @line-height: 26px, @font-color: #000000);

  @media (min-width: @medium-width) {
    font-size: @font-size-h2;
    line-height: @font-size-h2;
  }
}

.site-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;

  .set-font(@font-size: 16px, @line-height: 20px, @font-color: #ffffff, @text-transform: uppercase);
  text-align: center;

  background-color: @color-base-green;

  cursor: pointer;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
