// mix-in 'set-font' sets font
.set-font(
    @font-size: @font-size-base;
    @line-height: @font-size;
    @font-color: @color-special-dark-grey;
    @text-align: left;
    @font-name: @font-name-base;
    @text-transform: none;
    @font-weight: none) {
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
  & when not (@text-align = none) {
    text-align: @text-align;
  }
  font-family: @font-name;
  & when not (@text-transform = none) {
    text-transform: @text-transform;
  }
  & when not (@font-weight = none) {
    font-weight: @font-weight;
  }
}

// mix-in 'set-bottom-border' sets bottom-border to the block::after
.set-bottom-border(
    @width: 1px;
    @left: 0;
    @right: 0;
    @color: #000000) {
  &::after {
    content: "";
    position: absolute;
    height: @width;
    bottom: 0;
    left: @left;
    right: @right;
    background-color: @color;
  }
}
